<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
      {% for collection in collections %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ collection.title | link_to: collection.url }}
              </h4>
            </div>
            </div>
      {% endfor %}
  </div>



  <div class="brands_products"><!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            {% for product_vendor in shop.vendors %}
            <li>{{ product_vendor | link_to_vendor }}</li>
            {% endfor %}
        </ul>

    </div>
 </div><!--/brands_products-->

 <!--<div class="price-range">
   <h2>Price Range</h2>
   <div class="well">
      <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
      <b>$ 0</b> <b class="pull-right">$ 600</b>
   </div>
 </div><!--/price-range-->
{% if template ==  "collection" %}
  <div class="price-range"><!--price-range-->
    <h2>Shorting</h2>
    {% include 'collection_controls_sort_by_wpf' %}
  </div><!--/price-range-->
{% endif %}

    {% unless settings.shipping_img_enabled  == false %}

    <div class="shipping text-center"><!--shipping-->
      <img src="{{ 'shipimg.jpg' | asset_url }}" alt="" class="img-responsive"/>
    </div><!--/shipping-->

    {% endunless %}
  </div>
