<article class="sheet">
    <div class="content-404">
    <img src="https://cdn.shopify.com/s/files/1/1088/2500/files/404.png?567234883879992342" class="img-responsive" alt="" />
    {% assign message_html = 'errors.404.not_found_message_html' | t %}

  </div>
  {% include 'search_results_empty' %}
</article>
